<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Jorge Maestre
                    <small>Administrador</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.dashboard">Dashboard</a></li>
                    
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.solicitud')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-book"></i>
                    <span>Solicitudes</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.solicitud.todos">Solicitudes</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.programada">Solicitud Programada</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.express">Solicitud Express</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.publicar">Solicitud Publicar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.buscar">Solicitudes Buscar</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.control')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-flag-checkered"></i>
                    <span>Controles</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.control.todos">Controles</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.control.ingreso">Control de Ingreso</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.control.salida">Control de Salida</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.sellos')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-barcode"></i>
                    <span>Sellos</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.sello.todos">Sellos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.sello.crear">Sellos Ingreso</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.despacho')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-send"></i>
                    <span>Despacho</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.despacho.todos">Despachos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.validar">Validaciones de Salida</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.editar">Despacho Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.buscar">Despacho Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.anular">Despacho Anular</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.despacho.tipo')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Despacho Tipos</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.despacho.tipo.todos">Despacho Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.despacho.tipo.crear">Despacho Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.despacho.editar">Despacho Buscar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.carga')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-map"></i>
                    <span>Manifiestos de Carga</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.carga.todos">Manifiestos</a></li>

                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.facturacion')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-euro"></i>
                    <span>Facturacion</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub" ng-class="{active:$state.includes('app.facturacion.aprobacion')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Aprobacion OF</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.facturacion.aprobacion.aprueba">Aprobar OF</a></li>

                        </ul>
                    </li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.facturacion.objeciones')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Objeciones  de Viajes</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.facturacion.objeciones.responder">Responder Objeción</a></li>

                        </ul>
                    </li>
                </ul>
            </li>



            <li class="has-sub" ng-class="{active:$state.includes('app.mantenedores')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-clipboard"></i>
                    <span>Mantenedores</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub" ng-class="{active:$state.includes('app.mantenedores.proveedores')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Proveedor</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.mantenedores.proveedores.listado">Listar Proveedor</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.mantenedores.proveedores.agregar">Crear Proveedor</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.mantenedores.proveedores.editar">Editar Proveedor</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.mantenedores.proveedores.detalle">Detalle Proveedor</a></li>
                        </ul>
                    </li>

                </ul>
            </li>




            <li class="has-sub" ng-class="{active:$state.includes('app.b2b')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-users"></i>
                    <span>B2B</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub" ng-class="{active:$state.includes('app.b2b.transportista')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Transportista</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.b2b.transportista.aceptar">Solicitudes Publicadas</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.b2b.transportista.despacho">Despachos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.b2b.transportista.oc">Ordenes de Facturación</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.b2b.transportista.factura">Facturas</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

