<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Jorge Maestre
                    <small>Administrador</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.dashboard">Dashboard</a></li>
                    
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.solicitud')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-book"></i>
                    <span>Solicitudes</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.solicitud.todos">Solicitudes</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.programada">Solicitud Programada</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.express">Solicitud Express</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.publicar">Solicitud Publicar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.solicitud.buscar">Solicitudes Buscar</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.control')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-flag-checkered"></i>
                    <span>Controles</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.control.todos">Controles</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.control.ingreso">Control de Ingreso</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.control.salida">Control de Salida</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.sellos')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-barcode"></i>
                    <span>Sellos</span>
                </a>
                <ul class="sub-menu">

                    <li ui-sref-active="active"><a ui-sref="app.sello.todos">Sellos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.sello.crear">Sellos Asignar</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.despacho')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-send"></i>
                    <span>Despacho</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.despacho.todos">Despachos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.validar">Validaciones de Salida</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.editar">Despachos Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.buscar">Despacho Buscar</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.despacho.tipo')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Despacho Tipos</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.despacho.tipo.todos">Despacho Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.despacho.tipo.crear">Despacho Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.despacho.editar">Despacho Buscar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.carga')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-map"></i>
                    <span>Manifiestos de Carga</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.carga.todos">Manifiestos</a></li>

                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.personal')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-user"></i>
                    <span>Personal</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.personal.todos">Personal</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.buscar">Personal Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.crear">Personal Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.editar">Personal Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.eliminar">Personal Eliminar</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.personal.licencia')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Licencia Conducir</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.personal.licencia.todos">Licencia</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.personal.licencia.tipo">Licencia Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.personal.licencia.crear">Licencia Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.personal.licencia.editar">Licencia Editar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.flota')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-truck"></i>
                    <span>Flota </span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.flota.todos">Flota</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.buscar">Flota Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.crear">Flota Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.editar">Flota Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.eliminar">Flota Eliminar</a></li>

                </ul>
            </li>



            <li class="has-sub" ng-class="{active:$state.includes('app.proveedor')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-users"></i>
                    <span>Proveedor</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.proveedor.todos">Proveedor</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.proveedor.crear">Proveedor Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.proveedor.buscar">Proveedor Buscar</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.proveedor.tipo')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Proveedor Tipo</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.proveedor.tipo.todos">Proveedor Tipo</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.proveedor.tipo.crear">Proveedor Tipo Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.proveedor.tipo.buscar">Proveedor Tipo Buscar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.contrato')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>Contrato</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.contrato.todos">Contratos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.buscar">Contratos Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.crear">Contratos Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.editar">Contratos Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.eliminar">Contratos Eliminar</a></li>

                </ul>
            </li>

             <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-building"></i>
                    <span>Aseguradora</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="views/email_system.html" target="_blank">System Template</a></li>
                    <li><a href="views/email_newsletter.html" target="_blank">Newsletter Template</a></li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.moneda')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-euro"></i>
                    <span>Tarifas</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.moneda.todos">Moneda</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.moneda.crear">Moneda Actualizar</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.moneda.tipo')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Moneda Tipos</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.moneda.tipo.todos">Moneda Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.moneda.tipo.crear">Moneda Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.moneda.tipo.buscar">Moneda Buscar</a></li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.usuario')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-database"></i>
                    <span>Usuarios</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.usuario.todos">Usuarios</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.usuario.crear">Usuarios Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.usuario.buscar">Usuarios Buscar</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.b2b')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-exchange"></i>
                    <span>B2B</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.b2b.publicar">Solicitudes Publicadas</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.b2b.despachos">Despachos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.b2b.oc">Ordenes de Facturación</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.b2b.facturas">Facturas</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

