<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Jorge Maestre
                    <small>Administrador</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.dashboard">Dashboard</a></li>
                    
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.personal')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-user"></i> 
                    <span>Personal</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.personal.todos">Personal</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.buscar">Personal Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.crear">Personal Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.editar">Personal Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.eliminar">Personal Eliminar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.limitaciones">Limitaciones</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.personal.restricciones">Restricciones</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.licencia')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Licencia Conducir</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.licencia.todos">Licencia</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.licencia.tipo">Licencia Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.licencia.crear">Licencia Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.licencia.editar">Licencia Editar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.contrato')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>Contrato</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.contrato.todos">Contratos</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.buscar">Contratos Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.crear">Contratos Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.editar">Contratos Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contrato.eliminar">Contratos Eliminar</a></li>

                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.table')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-users"></i>
                    <span>Proveedor</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.table.basic">Basic Tables</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.table.manage')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.default">Default</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.autofill">Autofill</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.buttons">Buttons</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.colReorder">ColReorder</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedColumns">Fixed Columns</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedHeader">Fixed Header</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.keyTable">KeyTable</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.responsive">Responsive</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.rowReorder">RowReorder</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.scroller">Scroller</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.select">Select</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.combine">Extension Combination</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.flota')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-truck"></i> 
                    <span>Flota </span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.flota.todos">Flota</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.buscar">Flota Buscar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.crear">Flota Crear</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.editar">Flota Editar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.flota.eliminar">Flota Eliminar</a></li>

                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.despacho')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-send"></i>
                    <span>Despacho</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.despacho.todos">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.tipo">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.crear">Chart JS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.despacho.buscar">d3 Chart</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-map"></i>
                    <span>Modelo Viaje</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart</a></li>
                </ul>
            </li>
           
            <li class="has-sub" ng-class="{active:$state.includes('app.map')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-map-marker"></i>
                    <span>Estado Viaje</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.map.vector">Vector Map</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.map.google">Google Map</a></li>
                </ul>
            </li>
             <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-building"></i>
                    <span>Aseguradora</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="views/email_system.html" target="_blank">System Template</a></li>
                    <li><a href="views/email_newsletter.html" target="_blank">Newsletter Template</a></li>
                </ul>
            </li>
          
            
            <li class="has-sub" ng-class="{active:$state.includes('app.gallery')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-money"></i>
                    <span>Pago Servicios</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.gallery.v1">Gallery v1</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.gallery.v2">Gallery v2</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.moneda')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-euro"></i>
                    <span>Moneda</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.moneda.todos">Moneda</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.moneda.crear">Moneda Actualizar</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.moneda_tipo')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Moneda Tipos</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.moneda_tipo.todos">Moneda Tipos</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.moneda_tipo.crear">Moneda Crear</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.moneda_tipo.buscar">Moneda Buscar</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
         
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

