
<div class="container" ng-controller="tablaMonedaTipoDefaultController" ng-init="cargarMonedas_Tipo()">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Tables</a></li>
        <li class="active">Basic Tables</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Basic Tables <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    <h1> Monetas Tipo </h1>
    <form action="javascript:void(0);">
        <div class="row">
            <div class="span4">
                <label> ID Moneda </label>
                <input type="text" ng-model="monet_id" />
            </div>
            <div class="span4">
                <label> Nombre </label>
                <input type="text" ng-model="monet_nombre" />
            </div>
            <div class="span4">
                <label> Codigo </label>
                <input type="text" ng-model="monet_codigo" />
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <label> Pais </label>
                <input type="text" ng-model="monet_pais" />
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <input type="submit" value="Guardar" class="btn btn-success" ng-click="guardarMoneda_Tipo()" />
                <input type="button" value="Limpiar" class="btn btn-danger" ng-click="limpiarDatos()" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th> ID </th>
            <th> Nombre </th>
            <th> Codigo ISO </th>
            <th> Pais</th>
            <th>  </th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in sgt_monedas_tipo">
            <td> {{item.monet_id}} </td>
            <td> {{item.monet_nombre}} </td>
            <td> {{item.monet_codigo}} </td>
            <td> {{item.monet_pais}} </td>
            <td> <a href="javascript:void(0);" class="btn btn-info" ng-click="recuperarMoneda_Tipo(item._id)"> Editar </a> </td>
            <td> <a href="javascript:void(0);" class="btn btn-danger" ng-click="eliminarMoneda_Tipo(item._id)"> Eliminar </a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>